{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    The breed of the dog you entered is <strong>{{ breed }}</strong>! 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<p>
    {% if breed %}
    You can update the breed in the form below:
    {% else %}
    Please enter your pup's desired breed:
    {% endif %}
</p>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.breed.label }}{{ form.breed }}
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}